In [2]:
import pandas as pd
import numpy as np

In [3]:
#reading csv file
data = pd.read_csv('final_data.csv')
from sklearn.utils import shuffle
#shuffling data
data = shuffle(data)
data.head()

,label,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,49,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
1,20,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
2,59,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
3,28,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
4,3,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255

In [4]:
#function to split train and test data
def splitData(df, chunkSize = int(0.7*len(data))): 
    listOfDf = list()
    numberChunks = len(df) // chunkSize + 1
    for i in range(numberChunks):
        listOfDf.append(df[i*chunkSize:(i+1)*chunkSize])
    return listOfDf

In [ ]:
data = splitData(data)
#training data
data_train = data[0]
#testing data
data_test = data[1]

data_train.to_csv('data_final_train.csv', sep=',')
data_test.to_csv('data_final_test.csv', sep=',')